// flex

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-beetween-center {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.flex-beetween {
    display: flex;
    justify-content: center;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-column-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}